function status(data) {
  if (data == 0) {
    return "待提交审核";
  }
  else if (data == 1) {
    return "审核通过";
  } else if (data == 2) {
    return "内部初审中"
  } else if (data == 3) {
    return "平台审核中"
  } else if (data == 4) {
    return "内部审核不通过"
  } else if (data == 5) {
    return "平台审核不通过"
  } else if (data == 6) {
    return "内部终审中"
  } else if (data == 7) {
    return "内部终审不通过"
  }
};
module.exports = {
  status: status
}