function format(ts) {
  var d = getDate(ts)
  return [d.getFullYear(), d.getMonth() + 1, d.getDate()].join('-') +
    ' ' +
    [d.getHours(), d.getMinutes(), d.getSeconds()].join(':')
}

function status(data) {
  if (data == 0) {
    return "待下发";
  } else if (data == 1) {
    return "成功";
  } else if (data == 2) {
    return "失败"
  }
};

function options(data) {
  if(data == '') {
    return "下发命令"
  }else if(data == 2) {
    return "工作时间设置"
  }else if(data == 3) {
    return "音量设置"
  }else if(data == 4) {
    return "远程重启"
  }else if(data == 7) {
    return "终端截屏"
  }else if(data == 8) {
    return "获取终端信息"
  }
}

function proStatus(data) {
  if (data == 0) {
    return "未激活";
  }
  else if (data == 1) {
    return "正常";
  } else if (data == 2) {
    return "离线"
  } else if (data == 3) {
    return "异常"
  }
};
function getTime(time) {
  var timeStr = JSON.stringify(time);
  var newTime = timeStr.slice(0, 4) + '-' + timeStr.slice(4, 6) + '-' + timeStr.slice(6, 8);
  return newTime;
};
function strArr(str) {
  str = str.substring(1, str.length - 1).replace("},{", "}" + "#" + "{");
  var source = str.split("#");
  var target = [];
  for (var i = 0; i < source.length; i++) {
    target[i] = JSON.parse(source[i]);
  }
  var weekData = (target[0].weeks).split(",");
  var du = ''
  if (weekData.length == 7) {
    du = '每天' + target[0].startTime + "至" + target[0].endTime
  } else {
    for (var i = 0; i < weekData.length; i++) {
      du = '周' + day_time(weekData[i]) + target[0].startTime + "至" + target[0].endTime
    }
  }
  return du;
};

function day_time(num) {
  if (num == 1) {
    return "一"
  } else if (num == 2) {
    return "二"
  } else if (num == 3) {
    return "三"
  } else if (num == 4) {
    return "四"
  } else if (num == 5) {
    return "五"
  } else if (num == 6) {
    return "六"
  } else if (num == 7) {
    return "日"
  }
};
module.exports = {
  format: format,
  status: status,
  options: options,
  proStatus: proStatus,
  getTime: getTime,
  strArr: strArr
}